.swal2-popup.swal2-modal.swal2-show {
  .swal2-header .swal2-title {
    font-size: 4rem;
    margin: 1.6rem 0;
    letter-spacing: 2px;
    color: #272424;
    &.team1-win {
      color: #dd2626;
    }
    &.team2-win {
      color: #4363e8;
    }
  }
  .swal2-image {
    margin: 1em auto;
  }
}
