.swal2-popup.swal2-modal.swal2-show {
  .swal2-header .swal2-title {
    height: 2.8rem;
    font-size: 2.8rem;
    letter-spacing: 2px;
    color: #272424;
    &.team1-win {
      color: #dd2626;
    }
    &.team2-win {
      color: #4363e8;
    }
  }
  .swal2-content {
    height: 3.6rem;
    .swal2-html-container {
      line-height: 3.6rem;
      font-size: 2rem;
      letter-spacing: 1px;
      color: #272424;
      font-weight: 600;
    }
  }
  .swal2-image {
    margin: 1em auto;
  }
}
